
<html>

<head>
  <title>Placement Update Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <!-- <div class="form">
            <a href="http://127.0.0.1:5500/companyUpdatePlacement.html"> <button class="btn"><i class="fa fa-bars"></i></button></a>
        </div> -->

        <form class="form-inline" method="POST">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="go-companyhomepage" value="companyhomepage">Company Homepage</button>
        </form>
        
        <div class="log_out">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button>
        </div>
        
    </nav>
     
      
    <div class="container bootstrap snippet">
            
        <div class="tab-content">
            <div class="tab-pane active" id="placement_info">
                <hr>
                <form class="form" action="##" method="post" id="registrationForm">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <h1>Placement Info (All areas must be filled.)</h1>
                        </div>
                    </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                            <label for="title"><h4>Title</h4></label>
                            <input type="text" class="form-control" name="title" id="title" placeholder="{{values['title']}}" value="{{values['title']}}" title="enter the placement title." required>
                        </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="category"><h4>Category</h4></label>
                            <select id="category" name="category" class="form-control" required>
                                <option selected disabled hidden>{{values['category']}}</option>
                                <option>Backend Developer</option>
                                <option>Frontend Developer</option>
                                <option>Mobile Developer</option>
                                <option>DevOps specialist</option>
                                <option>Data Scientist</option>
                                <option>Machine Learning Specialist</option>
                                <option>QA Test Engineer</option>
                                <option>IOS-DEVELOPER</option>
                            </select>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                            <label for="contact_email"><h4>Contact Email</h4></label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="{{values['contact_info']}}" value="{{values['contact_info']}}" title="enter your email." required>
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                            <label for="location"><h4>Location</h4></label>
                            <input type="text" class="form-control" name="location" id="location" placeholder="{{values['location']}}" value="{{values['location']}}" title="enter a location" required>
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                            <label for="salary"><h4>Salary</h4></label>
                            <input type="number" class="form-control" name="salary" id="salary" placeholder="{{values['salaries']}}" value="{{values['salaries']}}" title="enter the salary" required>
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                            <label for="placement_description"><h4>Description</h4></label>
                            <input type="text" class="form-control" name="description" id="description" placeholder="{{values['description']}}" value="{{values['description']}}" title="enter the description of the placement." required>
                        </div>
                        </div>
                    
                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <h1>Placement Benefits</h1>
                        </div>
                    </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                            <label for="benefits"><h4>Benefit Name</h4></label>
                            <input type="text" class="form-control" name="benefits1" id="benefits1" placeholder="{{values['benefits'][0]}}" value="{{values['benefits'][0]}}" title="enter a benefit" required>
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                            <label for="benefits"><h4>Benefit Name</h4></label>
                            <input type="text" class="form-control" name="benefits2" id="benefits2" placeholder="{{values['benefits'][1]}}" value="{{values['benefits'][1]}}" title="enter a benefit if any.">
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                            <label for="benefits"><h4>Benefit Name</h4></label>
                            <input type="text" class="form-control" name="benefits3" id="benefits3" placeholder="{{values['benefits'][2]}}" value="{{values['benefits'][2]}}" title="enter a benefit if any.">
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                            <label for="benefits"><h4>Benefit Name</h4></label>
                            <input type="text" class="form-control" name="benefits4" id="benefits4" placeholder="{{values['benefits'][3]}}" value="{{values['benefits'][3]}}" title="enter a benefit if any.">
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                            <label for="benefits"><h4>Benefit Name</h4></label>
                            <input type="text" class="form-control" name="benefits5" id="benefits5" placeholder="{{values['benefits'][4]}}" value="{{values['benefits'][4]}}" title="enter a benefit if any.">
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                            <label for="benefits"><h4>Benefit Name</h4></label>
                            <input type="text" class="form-control" name="benefits6" id="benefits6" placeholder="{{values['benefits'][5]}}" value="{{values['benefits'][5]}}" title="enter a benefit if any.">
                        </div>
                        </div>
                     
                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <h1>Student Specifications (All areas must be filled.)</h1>
                        </div>
                    </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                            <label for="departmant_name"><h4>Department Name</h4></label>
                            <input type="text" class="form-control" name="department_name" id="department_name" placeholder="{{values['department_name']}}" value="{{values['department_name']}}" title="enter the department name." required>
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                            <label for="degree"><h4>Degree</h4></label>
                            <input type="text" class="form-control" name="degree" id="degree" placeholder="{{values['degree']}}" value="{{values['degree']}}" title="enter desired educational degree (3. or 4. class)." required>
                        </div>
                        </div>


                    <div class="form-group">
                        <div class="col-xs-12">
                                <br>
                                <h1>Skills</h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">

                            {% if 'Cpp' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Cpp" id="inlineCheckbox1" value="Cpp" checked>
                                <label class="form-check-label" for="inlineCheckbox1">C++</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Cpp" id="inlineCheckbox1" value="Cpp">
                                <label class="form-check-label" for="inlineCheckbox1">C++</label>
                            </div>
                            {% endif %}

                            {% if 'Python' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Python" id="inlineCheckbox2" value="Python" checked>
                                <label class="form-check-label" for="inlineCheckbox2">Python</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Python" id="inlineCheckbox2" value="Python">
                                <label class="form-check-label" for="inlineCheckbox2">Python</label>
                            </div>
                            {% endif %}

                            {% if 'Java' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Java" id="inlineCheckbox3" value="Java" checked>
                                <label class="form-check-label" for="inlineCheckbox3">Java</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Java" id="inlineCheckbox3" value="Java" >
                                <label class="form-check-label" for="inlineCheckbox3">Java</label>
                            </div>
                            {% endif %}

                            {% if 'C (Programming Language)' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="C (Programming Language)" id="inlineCheckbox1" value="C (Programming Language)" checked>
                                <label class="form-check-label" for="inlineCheckbox1">C (Programming Language)</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="C (Programming Language)" id="inlineCheckbox1" value="C (Programming Language)">
                                <label class="form-check-label" for="inlineCheckbox1">C (Programming Language)</label>
                            </div>
                            {% endif %}

                            {% if 'Javascript' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Javascript" id="inlineCheckbox2" value="Javascript" checked>
                                <label class="form-check-label" for="inlineCheckbox2">Javascript</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Javascript" id="inlineCheckbox2" value="Javascript">
                                <label class="form-check-label" for="inlineCheckbox2">Javascript</label>
                            </div>
                            {% endif %}

                            {% if 'Matlab' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Matlab" id="inlineCheckbox3" value="Matlab" checked>
                                <label class="form-check-label" for="inlineCheckbox3">Matlab</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Matlab" id="inlineCheckbox3" value="Matlab" >
                                <label class="form-check-label" for="inlineCheckbox3">Matlab</label>
                            </div>
                            {% endif %}

                            {% if 'Object Oriented Programming' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Object Oriented Programming" id="inlineCheckbox1" value="Object Oriented Programming" checked>
                                <label class="form-check-label" for="inlineCheckbox1">Object Oriented Programming</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Object Oriented Programming" id="inlineCheckbox1" value="Object Oriented Programming">
                                <label class="form-check-label" for="inlineCheckbox1">Object Oriented Programming</label>
                            </div>
                            {% endif %}

                            {% if 'Android Programming' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Android Programming" id="inlineCheckbox2" value="Android Programming" checked>
                                <label class="form-check-label" for="inlineCheckbox2">Android Programming</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Android Programming" id="inlineCheckbox2" value="Android Programming">
                                <label class="form-check-label" for="inlineCheckbox2">Android Programming</label>
                            </div>
                            {% endif %}

                            {% if 'Web Programming' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Web Programming" id="inlineCheckbox3" value="Web Programming" checked>
                                <label class="form-check-label" for="inlineCheckbox3">Web Programming</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Web Programming" id="inlineCheckbox3" value="Web Programming" >
                                <label class="form-check-label" for="inlineCheckbox3">Web Programming</label>
                            </div>
                            {% endif %}

                            {% if 'Database Management' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Database Management" id="inlineCheckbox1" value="Database Management" checked>
                                <label class="form-check-label" for="inlineCheckbox1">Database Management</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Database Management" id="inlineCheckbox1" value="Database Management" >
                                <label class="form-check-label" for="inlineCheckbox1">Database Management</label>
                            </div>
                            {% endif %}
                            
                            {% if 'NodeJs' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="NodeJs" id="inlineCheckbox2" value="NodeJs" checked>
                                <label class="form-check-label" for="inlineCheckbox2">NodeJs</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="NodeJs" id="inlineCheckbox2" value="NodeJs">
                                <label class="form-check-label" for="inlineCheckbox2">NodeJs</label>
                            </div>
                            {% endif %}
                            
                            {% if 'Docker' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Docker" id="inlineCheckbox3" value="Docker" checked>
                                <label class="form-check-label" for="inlineCheckbox3">Docker</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Docker" id="inlineCheckbox3" value="Docker" >
                                <label class="form-check-label" for="inlineCheckbox3">Docker</label>
                            </div>
                            {% endif %}

                            {% if 'Kubernetes' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Kubernetes" id="inlineCheckbox1" value="Kubernetes" checked>
                                <label class="form-check-label" for="inlineCheckbox1">Kubernetes</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Kubernetes" id="inlineCheckbox1" value="Kubernetes">
                                <label class="form-check-label" for="inlineCheckbox1">Kubernetes</label>
                            </div>
                            {% endif %}

                            {% if 'Linux' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Linux" id="inlineCheckbox2" value="Linux" checked>
                                <label class="form-check-label" for="inlineCheckbox2">Linux</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Linux" id="inlineCheckbox2" value="Linux" >
                                <label class="form-check-label" for="inlineCheckbox2">Linux</label>
                            </div>
                            {% endif %}
                            
                            {% if 'Go' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Go" id="inlineCheckbox3" value="Go" checked>
                                <label class="form-check-label" for="inlineCheckbox3">Go</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Go" id="inlineCheckbox3" value="Go" >
                                <label class="form-check-label" for="inlineCheckbox3">Go</label>
                            </div>
                            {% endif %}

                            {% if 'Swift' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Swift" id="inlineCheckbox1" value="Swift" checked>
                                <label class="form-check-label" for="inlineCheckbox1">Swift</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Swift" id="inlineCheckbox1" value="Swift">
                                <label class="form-check-label" for="inlineCheckbox1">Swift</label>
                            </div>
                            {% endif %}

                            {% if 'Data Structures' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Data Structures" id="inlineCheckbox2" value="Data Structures" checked>
                                <label class="form-check-label" for="inlineCheckbox2">Data Structures</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Data Structures" id="inlineCheckbox2" value="Data Structures">
                                <label class="form-check-label" for="inlineCheckbox2">Data Structures</label>
                            </div>
                            {% endif %}

                            {% if 'Artificial Intelligence' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Artificial Intelligence" id="inlineCheckbox3" value="Artificial Intelligence" checked>
                                <label class="form-check-label" for="inlineCheckbox3">Artificial Intelligence</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Artificial Intelligence" id="inlineCheckbox3" value="Artificial Intelligence" >
                                <label class="form-check-label" for="inlineCheckbox3">Artificial Intelligence</label>
                            </div>
                            {% endif %}

                            {% if 'Machine Learning' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Machine Learning" id="inlineCheckbox3" value="Machine Learning" checked>
                                <label class="form-check-label" for="inlineCheckbox3">Machine Learning</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Machine Learning" id="inlineCheckbox3" value="Machine Learning" >
                                <label class="form-check-label" for="inlineCheckbox3">Machine Learning</label>
                            </div>
                            {% endif %}

                            {% if 'Deep Learning' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Deep Learning" id="inlineCheckbox1" value="Deep Learning" checked> 
                                <label class="form-check-label" for="inlineCheckbox1">Deep Learning</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Deep Learning" id="inlineCheckbox1" value="Deep Learning">
                                <label class="form-check-label" for="inlineCheckbox1">Deep Learning</label>
                            </div>
                            {% endif %}

                            {% if 'Computer Vision' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Computer Vision" id="inlineCheckbox2" value="Computer Vision" checked>
                                <label class="form-check-label" for="inlineCheckbox2">Computer Vision</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Computer Vision" id="inlineCheckbox2" value="Computer Vision">
                                <label class="form-check-label" for="inlineCheckbox2">Computer Vision</label>
                            </div>
                            {% endif %}

                            {% if 'Robotic' in values.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Robotic" id="inlineCheckbox3" value="Robotic" checked >
                                <label class="form-check-label" for="inlineCheckbox3">Robotic</label>
                            </div>
                            {%else%}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Robotic" id="inlineCheckbox3" value="Robotic" >
                                <label class="form-check-label" for="inlineCheckbox3">Robotic</label>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                    

                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <h1>Certificate</h1>
                        </div>
                    </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                            <label for="first_name"><h4>Certificate Name</h4></label>
                            <input type="text" class="form-control" name="certificate_name1" id="certificate_name1" placeholder="{{values['certificates'][0]}}" value="{{values['certificates'][0]}}" title="enter your certificate name if any.">
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                            <label for="first_name"><h4>Certificate Name</h4></label>
                            <input type="text" class="form-control" name="certificate_name2" id="certificate_name2" placeholder="{{values['certificates'][1]}}" value="{{values['certificates'][1]}}" title="enter your certificate name if any.">
                        </div>
                        </div>
                        <div class="form-group">    
                        <div class="col-xs-6">
                            <label for="first_name"><h4>Certificate Name</h4></label>
                            <input type="text" class="form-control" name="certificate_name3" id="certificate_name3" placeholder="{{values['certificates'][2]}}" value="{{values['certificates'][2]}}" title="enter your certificate name if any.">
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                            <label for="first_name"><h4>Certificate Name</h4></label>
                            <input type="text" class="form-control" name="certificate_name4" id="certificate_name4" placeholder="{{values['certificates'][3]}}" value="{{values['certificates'][3]}}" title="enter your certificate name if any.">
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                            <label for="first_name"><h4>Certificate Name</h4></label>
                            <input type="text" class="form-control" name="certificate_name5" id="certificate_name5" placeholder="{{values['certificates'][4]}}" value="{{values['certificates'][4]}}" title="enter your certificate name if any.">
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                            <label for="first_name"><h4>Certificate Name</h4></label>
                            <input type="text" class="form-control" name="certificate_name6" id="certificate_name6" placeholder="{{values['certificates'][5]}}" value="{{values['certificates'][5]}}" title="enter your certificate name if any.">
                        </div>
                        </div>
                    
                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <button class="btn btn-lg btn-success pull-right" type="submit" name="update_placement" value="save"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>    
                        </div>
                    </div>

                </form>

            </div><!--/tab-pane-->

        </div><!--/tab-content-->

    </div><!--/tab-pane-->
   
            



    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

</body>
</html>