<!--
@Author Alper Meriç
-->

<html>


    <head>
        <title>Resume Deleting Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    </head>
    
    <body>
        <nav class="navbar navbar-light bg-light">
            <!-- <div class="form">
                <a href="http://127.0.0.1:5500/studentAddResume.html"> <button class="btn"><i class="fa fa-bars"></i></button></a>
            </div> -->
    
            <form class="form-inline" method="POST">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="go-homepage" value="homepage">Homepage</button>
            </form>
    
            
            <h1>Resume Deleting Page</h1>
           
            
    
    
    
                <div class="log_out">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button>
                </div>
          </nav>
        <div class="container bootstrap snippet">
            <form name="delete-resume" action="" method="POST">
                <div class="container bootstrap snippet">
                    <h1>Do you want the delete your resume ?</h1>
                    <div class="form-group">
                        <div class="col-xs-12">
                             <br>
                               <button class="btn btn-lg btn btn-danger pull-right" type="submit" name="delete-resume" value="delete"><i class="glyphicon glyphicon-ok-sign"></i>Delete</button>
                               <button class="btn btn-lg btn btn-danger pull-right" type="submit" name="delete-resume" value="no-delete"><i class="glyphicon glyphicon-ok-sign"></i>No</button>
                         </div>
                   </div>
                </div>   
              </form>
        </div>
        
        
    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    </body>
    </html>
